<form class="form" method="post">
  <div class="params">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <label> Age
  <input type="number" name="age" id="age"></label>
  <label> City
  <input type="text" name="city" id="city"></label>
  <label> Web page
  <input type="url" name="web" id="web"></label>
  <input type="submit" name="signup" value="Sign up" id="signup">
  </div>
</form>
