<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="/static/css/edit.css">
    <title>{{title}}</title>
  </head>
  <body>
<div class="img">
  {{>img}}
</div>
<div class="error">{{error}}</div>
<div class="update">{{update}}</div>
<section>
{{>editprofiles}}
</section>
<div class="back">
  <a href="/thanks"> Back </a>
</div>
{{>footer}}
  </body>
</html>
