<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="static/css/petition.css">
</head>
{{body}}

  <div class="maintitle">
    <h1 class="title">Sign our petition to make the wearing of <a target="_blank" href="https://www.google.de/search?q=socks+with+sandals&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwi5gJG5uuXTAhUSYlAKHa-vAVUQ_AUIBigB&biw=1242&bih=580https://www.google.de/search?q=socks+with+sandals&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwi5gJG5uuXTAhUSYlAKHa-vAVUQ_AUIBigB&biw=1242&bih=580">socks with Sandals</a> a criminal act in every country!!! </h1>
    {{>img}}
  </div>

  <div class="error"><p> <span style="color: red;">{{error}}</span></p></div>
  {{>canvas}}
{{>footer}}
<script src="/static/js/fnpetition.js"></script>
</html>
