<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="static/css/register.css">
</head>
{{body}}

  <div class="maintitle">
{{>img}}  </div>

  <div class="error"><p><span style="color: red;">{{error}}</span> </p></div>
    {{>profileform}}

{{>footer}}
  <script src="/fnregisterlogin.js"></script>
</html>
