<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/css/register.css">
</head>
{{body}}

  <div class="maintitle">
    {{>img}}
    <h1 class="title"> Make our world a bit better!! Sign our petition to <span style="color: red;">BAN</span> <a target="_blank" href="https://www.google.de/search?q=socks+with+sandals&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwi5gJG5uuXTAhUSYlAKHa-vAVUQ_AUIBigB&biw=1242&bih=580https://www.google.de/search?q=socks+with+sandals&source=lnms&tbm=isch&sa=X&sqi=2&ved=0ahUKEwi5gJG5uuXTAhUSYlAKHa-vAVUQ_AUIBigB&biw=1242&bih=580">socks with Sandals</a> in every country in the world and not only in the world!!!</h1>
  </div>

  <div class="error" ><p><span style="color: red;"> {{error}}</span> </p></div>
    {{>form}}
{{>footer}}
</html>
