<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/css/thanks.css">
</head>
<body>

  <div class="maintitle">
    {{>img}}
    {{#results}}
    <h1 class="title">Thank you <span style="color: Blue;"> {{firstname}} {{lastname}} </span> for signing our petition to make the wearing of socks with sandals a criminal act in every country </h1>
    <img src="{{signature}}" alt="your signature">
    {{/results}}
  </div>
<div class="links">
    <a href="/signers">See all signers</a>
    <a href="/profile/edit">Edit your profile</a>
    <a href="/logout"> Log out </a>
  </div>

{{>footer}}
</body>
</html>
