body {
  margin: 10px;
  background-color: rgba(198, 193, 203, 0.44);
}
.users{
  width: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}


.img {
  height: 200px;
  width: 250px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.back {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
    right: 0;
    bottom: 70px;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.footer {
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(198, 193, 203, 0.44);
}

.footer a {
  text-decoration: none;
}

#txt-footer {
  color: rgba(#000000, 0.88);
  /*font-family: Lobster;*/
}
